ShoppingList-RecipeBook/node_modules/
ShoppingList-RecipeBook/.angular/cache/16.1.7/angular-webpack/
ShoppingList-RecipeBook/.angular/cache/16.1.7/
recipe-book-backend/node_modules/
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
.angular/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
 ShoppingList-RecipeBook/.angular/cache/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
node_modules
# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
**/node_modules/
# System files
.DS_Store
Thumbs.db